#inspector {
  width: auto;
  height: 100%;
  display: block;
  background-color: #b6b6b6;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
}

#inspector-mask {
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: #b6b6b6;
}

#inspector-action-list .dragger {
  width: 20px;
  min-width: 20px;
  vertical-align: middle;
  padding-right: 10px;
}

#inspector-action-list .dragger::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 30px;
  top: 0;
  left: 0;
}

#action-list {
  padding: 0;
}

#action-list .action-item {
  display: flex;
  min-height: 2rem;
  align-items: center;
  position: relative;
}

#action-list .action-item-content {
  margin-block: 0.5rem;
}

#action-list .delete-action {
  margin-left: auto;
}

[hidden] {
  display: none !important;
}

#element-name {
  border: none;
  background: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: black;
  outline: none;
}