#inspector {
  width: auto;
  height: 100%;
  display: block;
  background-color: #b6b6b6;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
}

#inspector-state {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #b6b6b6;
}

#inspector-action-list .dragger {
  height: 1rem;
  vertical-align: middle;
}

[hidden] {
  display: none !important;
}