:root {
  --splitter1-pos: 33%;
  --splitter2-pos: 66%;
  /* --canvas-scale: 1; */
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.columns {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.column1 {
  width: var(--splitter1-pos);
  overflow: hidden;
}

#splitter1 {
  width: 5px;
  cursor: ew-resize;
  background-color: #ddd;
}

.column2 {
  width: calc(var(--splitter2-pos) - var(--splitter1-pos) - 5px);
}

#splitter2 {
  width: 5px;
  cursor: ew-resize;
  background-color: #ddd;
}

.column3 {
  width: calc(100vw - var(--splitter2-pos) - 5px);
}