{% if head %}
<link rel="stylesheet" href="/inspector/inspectoractionlist.css">
{% endif %}

{% if body %}
<div>
  <button id="save-actions">Save Actions</button>
</div>
<div>
  <button id="test-all-actions">Test All Actions</button>
</div>
<div>
  <select name="add-action-selector" id="add-action-selector">
  </select>
  <button id="add-action">Add Action</button>
</div>
<ul id="action-list">
</ul>

<template id="action-template">
  <li class="action-item">
    <div class="dragger">
      <svg fill="#000000" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M600 1440c132.36 0 240 107.64 240 240s-107.64 240-240 240-240-107.64-240-240 107.64-240 240-240Zm720 0c132.36 0 240 107.64 240 240s-107.64 240-240 240-240-107.64-240-240 107.64-240 240-240ZM600 720c132.36 0 240 107.64 240 240s-107.64 240-240 240-240-107.64-240-240 107.64-240 240-240Zm720 0c132.36 0 240 107.64 240 240s-107.64 240-240 240-240-107.64-240-240 107.64-240 240-240ZM600 0c132.36 0 240 107.64 240 240S732.36 480 600 480 360 372.36 360 240 467.64 0 600 0Zm720 0c132.36 0 240 107.64 240 240s-107.64 240-240 240-240-107.64-240-240S1187.64 0 1320 0Z"
            fill-rule="evenodd"></path>
        </g>
      </svg>
    </div>
    <div class="action-item-content">
      <span class="action-type"></span>
      <span class="action-params"></span>
    </div>
    <button class="delete-action">Delete</button>
  </li>
</template>

<template id="action-click-params-template">
  <label>Type:
    <select name="presstype">
      <option value="press">Press</option>
      <option value="down">Down</option>
      <option value="up">Up</option>
    </select>
  </label>
  <label>X:
    <input type="number" name="xpos" value="0" min="0" step="1">
  </label>
  <label>Y:
    <input type="number" name="ypos" value="0" min="0" step="1">
  </label>
  <button class="record-click" name="record-click" onclick="actionListFuncs.recordClick(this.parentElement)">Record
    Click</button>
  <button class="simulate" name="simulate-click" onclick="actionListFuncs.simulateClick(this.parentElement)">Simulate
    Click</button>
</template>

<template id="action-drag-params-template">
  <div>
    <label>X1:
      <input type="number" name="startx" value="0" min="0" step="1">
    </label>
    <label>Y1:
      <input type="number" name="starty" value="0" min="0" step="1">
    </label>
  </div>
  <div>
    <label>X2:
      <input type="number" name="endx" value="0" min="0" step="1">
    </label>
    <label>Y2:
      <input type="number" name="endy" value="0" min="0" step="1">
    </label>
  </div>
  <label>Velocity:
    <input type="number" name="velocity" value="1" min="1" step="1">
  </label>
  <button class="record-drag" name="record-drag">Record Drag</button>
  <button class="simulate" name="simulate-drag">Simulate Drag</button>
</template>

<template id="action-cont-drag-params-template">
  <label>Vertices:
    <input type="text" name="vertices" value="">
  </label>
  <button class="record-cont-drag" name="record-cont-drag"
    onclick="actionListFuncs.recordContDrag(this.parentElement)">Record Continuous
    Drag</button>
  <button class="simulate" name="simulate-cont-drag"
    onclick="actionListFuncs.simulateContDrag(this.parentElement)">Simulate Continuous
    Drag</button>
</template>

<template id="action-key-params-template">
  <label>Key:
    <input type="text" name="keycode" value="{ENTER}">
  </label>
  <button class="simulate" name="simulate-key" onclick="actionListFuncs.simulateKey(this.parentElement)">Simulate
    Key</button>
</template>

<template id="action-click-detect-params-template">
  <label>Offset X:
    <input type="number" name="xoffset" value="0" min="0" step="1">
  </label>
  <label>Offset Y:
    <input type="number" name="yoffset" value="0" min="0" step="1">
  </label>
  <button class="record-click-detect" name="record-click-detect"
    onclick="actionListFuncs.recordClickDetect(this.parentElement)">Record
    Click Detect Offset</button>
  <button class="simulate" name="simulate-click-detect"
    onclick="actionListFuncs.simulateClickDetect(this.parentElement)">Simulate
    Click Detect</button>
</template>

<template id="action-wait-params-template">
  <label>Time (ms):
    <input type="number" name="time" value="0" min="0" step="1">
  </label>
  <button class="simulate" name="simulate-wait" onclick="actionListFuncs.wait(this.parentElement)" hidden>Simulate
    Wait</button>
</template>

<template id="action-launch-params-template">
  <label>Game Path:
    <input type="text" name="path"
      placeholder='A_AppData "/Microsoft/Windows/Start Menu/Programs/Google Play Games/Arknights.lnk"'></input>
  </label>
  <button class="simulate" name="simulate-launch" onclick="actionListFuncs.launch(this.parentElement)">Simulate
    Launch</button>
</template>

<template id="action-close-params-template">
  <button class="simulate" name="simulate-close" onclick="actionListFuncs.close(this.parentElement)">Simulate
    Close</button>
</template>

<template id="action-input-hook-params-template">
  <label>Game Title:
    <input type="text" name="title" placeholder='Arknights'></input>
  </label>
  <label>Timeout (s):
    <input type="number" name="timeout" value="5"></input>
  </label>
  <button class="simulate" name="simulate-input-hook" onclick="actionListFuncs.inputHook(this.parentElement)">Simulate
    Input Hook</button>
</template>

<template id="action-video-hook-params-template">
  <label>Game Title:
    <input type="text" name="title" placeholder='Arknights'></input>
  </label>
  <button class="simulate" name="simulate-video-hook" onclick="actionListFuncs.videoHook(this.parentElement)">Simulate
    Video Hook</button>
</template>

<template id="action-exec-params-template">
  <label>Command:
    <textarea name="command" placeholder="Please no malicious :3" rows="1"></textarea>
  </label>
  <button class="simulate" name="simulate-exec" onclick="actionListFuncs.exec(this.parentElement)">Simulate
    Command</button>
</template>

{% endif %}

{% if scripts %}
<script src="/inspector/inspectoractionlist.js" type="module"></script>
{% endif %}