{% if head %}
<link rel="stylesheet" href="/inspector/inspector.css">
{% include "inspectorstate.html" %}
{% include "inspectoredge.html" %}
{% include "inspectoractionlist.html" %}
{% endif %}

{% if body %}
<div id="inspector">
  <h2>Inspector</h2>
  <div id="inspector-state" hidden>
    {% include "inspectorstate.html" %}
  </div>
  <div id="inspector-edge" hidden>
    {% include "inspectoredge.html" %}
  </div>
  <div id="inspector-action-list" hidden>
    {% include "inspectoractionlist.html" %}
  </div>
</div>
{% endif %}

{% if scripts %}
<script src="/inspector/inspector.js" type="module"></script>
{% include "inspectorstate.html" %}
{% include "inspectoredge.html" %}
{% include "inspectoractionlist.html" %}
{% endif %}